.idea/
.vscode/
.history/
.project
.buildpath
.yardoc
.gradle
.devkit-token
*.tgz
*.iws
*.iml
*.ipr
~*
*.~*
dist/
dist-node/
dist-esm/
node_modules/
public/
target/
out/
build/*
!tools/build/*
npm-debug.log
pnpm-debug.log
Gemfile.lock
gradle-app.setting
gradlew
gradlew.bat
/uu5g04/src/test-tmp/
