@import "./forms-ns.less";

.checkbox(@color-schema, @bg-outline, @bg-filled, @bg-line, @color-without-bg, @color-with-bg, @border) {
  .@{forms-name}-checkbox when (@color-schema = default) {
    &.uu5-common-bg-style-outline {
      .checkbox-one(@color-without-bg, @color-without-bg, @bg-outline, @bg-outline, @border, @border, @bg-filled);
    }

    &.uu5-common-bg-style-filled {
      .checkbox-one(@color-without-bg, @color-with-bg, @bg-outline, @bg-filled, @border, @bg-filled, @bg-filled);
    }
  }

  .@{forms-name}-tri-state-checkbox when (@color-schema = default) {
    &.uu5-common-bg-style-outline {
      .tri-state-checkbox-one(@color-without-bg, @color-without-bg, @bg-outline, @bg-outline, @border, @border, @bg-filled);
    }

    &.uu5-common-bg-style-filled {
      .tri-state-checkbox-one(@color-without-bg, @color-with-bg, @bg-outline, @bg-filled, @border, @bg-filled, @bg-filled);
    }
  }

  & when (@color-schema = default) {
    .checkboxes(@bg-line);
  }

  & when (@color-schema = default) {
    .radios(@bg-line);
  }

  .color-schema-@{color-schema} {
    .@{forms-name}-checkbox:not([class*="color-schema-"]),
    &.@{forms-name}-checkbox {
      &.uu5-common-bg-style-outline {
        .checkbox-one(@color-without-bg, @color-without-bg, @bg-outline, @bg-outline, @border, @border, @bg-filled);
      }

      &.uu5-common-bg-style-filled {
        .checkbox-one(@color-without-bg, @color-with-bg, @bg-outline, @bg-filled, @border, @bg-filled, @bg-filled);
      }
    }
    .@{forms-name}-tri-state-checkbox:not([class*="color-schema-"]),
    &.@{forms-name}-tri-state-checkbox {
      &.@{forms-name}-tri-state-checkbox {
        &.uu5-common-bg-style-outline {
          .tri-state-checkbox-one(@color-without-bg, @color-without-bg, @bg-outline, @bg-outline, @border, @border, @bg-filled);
        }

        &.uu5-common-bg-style-filled {
          .tri-state-checkbox-one(@color-without-bg, @color-with-bg, @bg-outline, @bg-filled, @border, @bg-filled, @bg-filled);
        }
      }
    }

    .@{forms-name}-checkboxes:not([class*="color-schema-"]),
    &.@{forms-name}-checkboxes {
      .checkboxes(@bg-line);
    }

    .@{forms-name}-radios:not([class*="color-schema-"]),
    &.@{forms-name}-radios {
      .radios(@bg-line);
    }
  }
}

.checkbox-one(@color-off, @color-on, @bg, @bg-checked, @border, @border-checked, @border-focused) {
  &:not(.uu5-common-disabled):not(.@{forms-name}-input-read-only) {
    .@{forms-name}-checkbox-dot {
      background-color: @color-off;
    }

    .@{forms-name}-checkbox-button {
      .uu5-bricks-icon {
        color: @color-off;
      }
    }

    &.@{forms-name}-checkbox-checked {
      .@{forms-name}-checkbox-dot {
        background-color: @color-on;
      }

      .@{forms-name}-checkbox-button:not(.uu5-bricks-switch) {
        border-color: @border-checked;
        background-color: @bg-checked;

        .uu5-bricks-icon {
          color: @color-on;
        }
      }
    }

    .@{forms-name}-checkbox-button:not(.uu5-bricks-switch) {
      border-color: @border;
      background-color: @bg;

      &:focus {
        border-color: @border-focused;
      }
    }
  }
}

.tri-state-checkbox-one(@color-off, @color-on, @bg, @bg-checked, @border, @border-checked, @border-focused) {
  &:not(.uu5-common-disabled):not(.@{forms-name}-input-read-only) {
    .@{forms-name}-tri-state-checkbox-button {
      .uu5-bricks-icon {
        color: @color-off;
      }

      &:focus {
        border-color: @border-focused;
      }
    }

    &.@{forms-name}-tri-state-checkbox-checked,
    &.@{forms-name}-tri-state-checkbox-indeterminate {
      .@{forms-name}-tri-state-checkbox-button {
        border-color: @border-checked;
        background-color: @bg-checked;

        .uu5-bricks-icon {
          color: @color-on;
        }

        &:focus {
          border-color: @border-focused;
        }
      }
    }

    .@{forms-name}-tri-state-checkbox {
      border-color: @border;
      background-color: @bg;
    }
  }
}

.checkboxes(@bg-line) {
  &.@{forms-name}-checkboxes-selection-background {
    &:not(.uu5-common-disabled):not(.@{forms-name}-input-read-only) {
      .@{forms-name}-checkbox-checked:not(.@{forms-name}-checkbox-type-switch) .@{forms-name}-right-wrapper {
        background-color: @bg-line;
      }
    }
  }
}

.radios(@bg-line) {
  &.@{forms-name}-radios-selection-background {
    &:not(.uu5-common-disabled):not(.@{forms-name}-input-read-only) {
      .@{forms-name}-checkbox-checked .@{forms-name}-right-wrapper {
        background-color: @bg-line;
      }
    }
  }
}
