@import "./forms-ns.less";
@import "../tools.less";

.file-one(@color-schema, @bg, @border, @placeholder-color, @placeholder-color-filled,
  @drop-near-color, @drop-near-bg, @drop-near-border, @drop-over-color, @drop-over-bg,
  @drop-over-border, @item-name-color, @item-in-progress-name-color, @progress-fill-bg) {
  & when not(@color-schema = default) {

    // placeholder
    &.@{forms-name}-file-placeholder.@{forms-name}-file-placeholder {
      & when (not(@color-schema = black) and not(@color-schema = white)) {
        &[class*="uu5-common-bg-style-"] {
          color: rgba(red(@placeholder-color), green(@placeholder-color), blue(@placeholder-color), 0.33);
        }

        &.uu5-common-bg-style-filled {
          color: @placeholder-color-filled;
        }
      }

      & when (@color-schema = white) {
        color: rgba(255, 255, 255, 0.33);

        &.uu5-common-bg-style-filled:not(:hover):not(:active):not(:focus):not([class*="uu5-forms-file-indicate-drop-"]) {
          color: rgba(0, 0, 0, 0.24);
        }
      }

      & when (@color-schema = black) {
        color: rgba(0, 0, 0, 0.24);

        &.uu5-common-bg-style-filled:not(:hover):not(:active):not(:focus):not([class*="uu5-forms-file-indicate-drop-"]) {
          color: rgba(255, 255, 255, 0.33);
        }
      }

      &:hover:hover {
        background: @drop-near-bg;
        border-color: @drop-near-border;
      }

      &:focus:focus,
      &:active:active {
        background: @drop-over-bg;
        border-color: @drop-over-border;
      }
    }

    .@{forms-name}-file-indicate-drop-near {
      color: @drop-near-color;
      border-color: @drop-near-border;
      background: @drop-near-bg;
    }

    .@{forms-name}-file-indicate-drop-over {
      color: @drop-over-color;
      border-color: @drop-over-border;
      background: @drop-over-bg;
    }

    &:not(.uu5-common-disabled) {
      .@{forms-name}-file-item-name:not(.@{forms-name}-file-item-in-progress) {
        color: @item-name-color;
      }

      .@{forms-name}-file-item-name.@{forms-name}-file-item-in-progress {
        color: @item-in-progress-name-color;
      }
    }

    & when (@color-schema = white) {
      .@{forms-name}-file-item-in-progress {
        color: rgba(256, 256, 256, 0.87);
      }

      .@{forms-name}-file-progress {
        background: #fff - #e0e0e0;
      }
    }

    .@{forms-name}-file-progress-current {
      background: @progress-fill-bg;
    }
  }
}

.file(@color-schema, @bg, @border, @placeholder-color, @placeholder-color-filled, @drop-near-color, @drop-near-bg, @drop-near-border, @drop-over-color, @drop-over-bg, @drop-over-border, @item-name-color, @item-in-progress-name-color, @progress-fill-bg) {
  .color-schema-@{color-schema} {
    .@{forms-name}-file:not([class*="color-schema-"]) .@{forms-name}-items-input:not([class*="color-schema-"]),
    .@{forms-name}-file &.@{forms-name}-items-input {
      .file-one(@color-schema, @bg, @border, @placeholder-color, @placeholder-color-filled, @drop-near-color, @drop-near-bg, @drop-near-border, @drop-over-color, @drop-over-bg, @drop-over-border, @item-name-color, @item-in-progress-name-color, @progress-fill-bg);
    }
  }

  .@{forms-name}-file.@{forms-name}-input-error .@{forms-name}-file-input-row.color-schema-@{color-schema} {
    border-color: @border;
  }
}
