@import "./forms-ns.less";

/* UU5.Forms.Text */
.@{name}-number {
  &.uu5-common-disabled {
    cursor: default !important;
  }

  &:not(.@{name}-input-inline) {
    &.@{name}-input-s .@{name}-input-wrapper {
      min-width: 104px;
    }

    &.@{name}-input-m .@{name}-input-wrapper {
      min-width: 125px;
    }

    &.@{name}-input-l .@{name}-input-wrapper {
      min-width: 144px;
    }

    &.@{name}-input-xl .@{name}-input-wrapper {
      min-width: 165px;
    }

    &.@{name}-number-hidden-buttons {
      &.@{name}-input-s .@{name}-input-wrapper {
        min-width: 40px;
      }

      &.@{name}-input-m .@{name}-input-wrapper {
        min-width: 45px;
      }

      &.@{name}-input-l .@{name}-input-wrapper {
        min-width: 48px;
      }

      &.@{name}-input-xl .@{name}-input-wrapper {
        min-width: 53px;
      }
    }
  }
}

.@{name}-number:after{
  display: block;
  position: relative;
  content: '';
  clear: both;
}

.@{name}-number .uu5-bricks-button:not(.uu5-common-bg-style-underline) {
  border-radius: 2px;
}

.@{name}-input-button .@{name}-input-button-icon {
  position: relative;
}

.@{name}-number .@{name}-input-button-wrapper>.uu5-bricks-button-main>.@{name}-input-button-icon {
  color: black;
}
