@import "./forms-ns.less";
@import "../tools.less";
@import "./select-func.less";
@import '../color-schema/default.less';

/* UU5.Forms.Text */
.@{name}-select {
  &.uu5-common-disabled {
    cursor: default !important;
  }

  &.color-schema-black {
    .uu5-common-bg-style-filled {
      .uu5-bricks-icon, .uu5-forms-input-form-item-value {
        color: #FFFFFF;
      }
    }
  }

  .color-schema-white& {
    .@{name}-items-input {
      &.uu5-common-bg-style-outline,
      &.uu5-common-bg-style-underline,
      &.uu5-common-bg-style-transparent {
        .@{name}-input-form-item-value {
          color: #FFFFFF;
        }
      }
      &.uu5-common-bg-style-filled {
        .@{name}-input-form-item-value {
          color: rgba(0, 0, 0, 0.87);
        }
      }
    }
  }
}

.@{name}-select:after{
  display: block;
  position: relative;
  content: '';
  clear: both;
}

.@{name}-select-state-holder {
  &:not(.@{name}-select-has-value) .@{name}-input-form-item-value {
    color: rgba(0,0,0,0.24);
  }

  &.@{name}-select-has-value .@{name}-input-form-item-value {
    .@{name}-items-input-item-icon.@{name}-items-input-item-icon {
      color: rgba(0, 0, 0, 0.54);
    }
  }
}

.@{name}-select-open .@{name}-items-input,
.@{name}-select-open.@{name}-items-input {
  z-index: 10;
  .elevation-mixin(inset 0 0 0 1px #2196F3);

  &:not(.uu5-common-bg-style-underline) {
    box-shadow: inset 0 0 0 1px #2196F3;
  }
}

.@{name}-select-link {
  width: 100%;
  position: relative;
  height: 2.4em;
  padding: 0.6em;
  display: block;
}

.@{name}-select-link,
.@{name}-select-link:hover {
  text-decoration: none;
}

.@{name}-select .@{name}-input-wrapper .uu5-bricks-icon {
  color: rgba(0,0,0,0.87);
}

.@{name}-input.@{name}-select .@{name}-items-input:not(.uu5-common-bg-style-underline) {
  border-radius: 2px;
}

.@{name}-select-option.uu5-bricks-link {
  &:focus, &:active, &:hover {
    background-color: @grey-300;
  }
}

.@{name}-select-multiple {
  .@{name}-item-list-header .@{name}-select-link {
    &, &:focus, &:active {
      color: rgba(0,0,0,0.87);
    }
    &:hover {
      color: rgb(158, 158, 158);
    }
  }
}

.@{name}-select .@{name}-items-input.uu5-common-disabled {
  background-color: fade(#F5F5F5, 42%);

    .@{name}-input-form-item-value {
      color: rgba(0,0,0,0.24);
    }
}

.@{name}-select.uu5-common-disabled	.uu5-bricks-link {
    cursor: default;
    pointer-events: none;
}

.@{name}-select.@{name}-input-read-only .@{name}-items-input {
  background-color: fade(#FFFFFF, 24%);
  border-color: fade(#BDBDBD, 24%);
  .uu5-bricks-link {
    cursor: default;
  }
}

.@{name}-select.@{name}-input-read-only .@{name}-items-input {
  border-color: fade(#BDBDBD, 24%);
  box-shadow: unset;
  cursor: default;
}

.@{name}-select.uu5-common-disabled .@{name}-items-input {
  border-color: fade(#BDBDBD, 42%);
  box-shadow: unset;
  cursor: default;
}

.select-items-input-multiple(s, 12px, 16px, 1px 3px 3px 5px, 0px 3px 1px 0px, 4px, 14px, 14px, 2px 24px 1px 3px);
.select-items-input-multiple(m, 14px, 19px, 2px 4px 3px 7px, 0px 4px 3px 0px, 5px, 16px, 17px, 3px 32px 0px 4px);
.select-items-input-multiple(l, 16px, 21px, 3px 4px 4px 8px, 0px 6px 5px 0px, 6px, 20px, 18px, 5px 40px 0px 6px);
.select-items-input-multiple(xl, 18px, 24px, 3px 6px 5px 9px, 0px 7px 6px 0px, 7px, 20px, 21px, 7px 48px 1px 8px);

.select-items-input-multiple-empty(s, 3px 24px 4px 3px);
.select-items-input-multiple-empty(m, 5px 32px 5px 4px);
.select-items-input-multiple-empty(l, 8px 40px 8px 6px);
.select-items-input-multiple-empty(xl, 10px 48px 11px 8px);

.select-items-input(s, 2px 26px 4px 7px, 16px);
.select-items-input(m, 6px 32px 5px 8px, 19px);
.select-items-input(l, 8px 38px 9px 8px, 21px);
.select-items-input(xl, 10px 45px 12px 9px, 24px);

.@{name}-select.@{name}-screen-size-behaviour {
  &.@{name}-select-open .@{name}-items-input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.@{name}-select-open .@{name}-item-list {
    position: relative;
    margin-top: 0px;
    box-shadow: unset;
    border-radius: 0px;
    width: 100%;
  }
}