@import "./forms-ns.less";

.@{name}-select-option {
  border: none;
  padding: 9px 16px;
  color: rgba(0,0,0,0.87) !important;
}
.@{name}-select-option.uu5-common-disabled {
  color: rgba(0,0,0,0.24) !important;
}