@import "./forms-ns.less";

/* UU5.Forms.Text */
.@{name}-text {
  &.uu5-common-disabled {
    cursor: default !important;
  }
}

.@{name}-text:after {
  display: block;
  position: relative;
  content: '';
  clear: both;
}
