@import "./common-ns.less";

.@{name}-router {

}

.@{name}-router-leave-confirmation-modal {
  .@{name}-router-leave-confirmation-footer {
    padding: 8px 20px 8px 20px;
    text-align: right;
    .@{name}-router-leave-confirmation-button-confirm {
      margin-right: 8px;
    }
  }
}
