@import "./bricks-ns.less";
@import "../tools.less";

.@{name}-alert {
  position: absolute;
  top: 0;
  z-index: 90;
  visibility: visible;
  transition: ~"opacity ease-in-out, visibility ease-in-out";
  margin-bottom: 20px;
  padding: 0;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.20);
  border-radius: 4px;

  &:not(.uu5-common-disabled) {
    opacity: 1;
  }
}

.@{name}-alert-header-wrapper {
  font-size: 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > .@{name}-alert-header,
  & > .@{name}-alert-content,
  & > .@{name}-alert-close {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.@{name}-alert-header,
.@{name}-alert-content {
  color: rgba(0, 0, 0, 0.87);
}

.@{name}-alert-with-header {
  .@{name}-alert-header {
    padding: 13px 0 16px 17px;
  }

  .@{name}-alert-content {
    color: rgba(0, 0, 0, 0.54);
    padding: 0px 16px 24px 16px;
  }

  .@{name}-alert-close {
    margin: 9px 9px 0px 16px;
  }
}

.@{name}-alert-without-header {
  .@{name}-alert-content {
    padding: 15px 0 16px 16px;
    display: flex;
    justify-content: space-between;
  }

  &.@{name}-alert-without-close .@{name}-alert-content {
    padding-right: 16px;
  }

  .@{name}-alert-header-wrapper {
    font-size: 1em;
    padding: 0;
  }

  .@{name}-alert-close {
    margin: 8px 8px 8px 8px;
  }
}

.@{name}-alert-close {
  font-size: 20px;
  height: 32px;
  width: 32px;
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  &, &:focus, &:hover {
    text-decoration: none;
  }

  .@{name}-icon {
    height: 20px; // because icon have default 22.4px
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.@{name}-alert .@{name}-alert-close {
  &, &:focus, &:hover, &:active, &:visited {
    color: rgba(0, 0, 0, 0.54);
  }
}

.@{name}-alert-block {
  position: relative;
  display: table;
}

.@{name}-alert-center {
  left: 50%;
  transform: translateX(-50%);
}

.@{name}-alert-right {
  right: 0;

  &.@{name}-alert-block {
    left: 100%;
    transform: translateX(-100%);
  }
}

.@{name}-alert.uu5-common-disabled {
  border-color: transparent;
  position: absolute !important;
}

.@{name}-alert.uu5-common-hidden {
  opacity: 0;
  visibility: hidden;
  display: inherit !important;
}

.@{name}-alert-block.uu5-common-hidden {
  display: inline-block !important;
}

.@{name}-alert-block.uu5-common-disabled {
  position: relative !important;
}

.@{name}-alert[class^="color-schema-"][class*=" color-schema-"] .@{name}-link:not([class*="color-schema-"]) {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
}
