@import "./bricks-ns.less";
@import "../tools.less";

.@{name}-blockquote {
  padding: 24px;
  line-height: @standardLineHeight;
}

.@{name}-blockquote.blockquote-reverse,
.@{name}-blockquote.blockquote.@{name}-dropdown-right {
  border-right: 0;
  text-align: right;
}

.@{name}-blockquote.@{name}-blockquote-nospacing {
  margin-left: 0;
  margin-right: 0;
}

.@{name}-blockquote.@{name}-blockquote-bg {

}
