@import "./bricks-ns.less";

.@{name}-confirm-modal-footer {
  text-align: center;
  padding-top: 16px;

  & > button {
    margin-left: 8px;
    min-width: 96px;

    &:first-child {
      margin-left: 0;
    }
  }
}