@import "./bricks-ns.less";
@import "../tools.less";

.@{name}-paragraph, .@{name}-p {
   margin: 12px 0;
   line-height: @standardLineHeight;
}

.@{name}-pre {
  background: #F5F5F5;
  border-radius: 2px;
  border: none;
  padding: 16px;
  display: block;
  word-break: break-all;
  margin: unset;
  font-family: Courier,monospace;
  color: rgba(0,0,0,0.87);
  line-height: @standardLineHeight;
  overflow-x: auto;
}
