@import "./bricks-ns.less";
@import "../tools.less";

.@{name}-newspaper {
  -webkit-column-gap: 16px; /* Chrome, Safari, Opera */
  -moz-column-gap: 16px; /* Firefox */
  column-gap: 16px;
  line-height: @standardLineHeight;
}

.@{name}-newspaper .@{name}-p {
  margin: 0 0 10px 0;
}
