@import "./bricks-ns.less";

@import "../tools.less";

.@{name}-panel-body {
  transition: height 20s ease-in-out;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  color: rgba(0,0,0,0.87);
}

.@{name}-panel-body-block {
  overflow: visible;
}

.@{name}-panel-body-body {
  padding: 24px 12px;
}
