.uu5-bricks-session-watch {
  z-index: 1060;
  & > .uu5-bricks-modal-dialog {
    max-width: 400px;
  }
}

.uu5-bricks-session-watch-footer {
  text-align: center;
  & > .uu5-bricks-button {
    min-width: 96px;
    margin: 0 4px;
  }
}
