@import "./bricks-ns.less";

@import "../tools.less";

.@{name}-tabs-item {
  display: none;
}

.@{name}-tabs-item-fade {
  animation: ~"@{name}-tabs-fade" 400ms;
}

.@{name}-tabs-list-content > .@{name}-tabs-item-visible {
  display: block;
}

.@{name}-tabs-item > .uu5-common-disabled-cover {
  margin-top: -1em;
}

@keyframes ~"@{name}-tabs-fade" {
  from { opacity: 0; }
  to   { opacity: 1; }
}
