@import "./bricks-ns.less";
@import "../tools.less";

.@{name}-well {
  border-radius: 2px;
  color: rgba(0,0,0,0.87);
  line-height: @standardLineHeight;
  padding: 16px;

  &.uu5-common-bg-style-outline {
    border-width: 1px;
    border-style: solid;
  }

  &.uu5-common-bg-style-underline {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-radius: 0;
  }
}
