@import "./bricks-ns.less";

.@{name}-youtube-video {
  border: none;
  max-width: 100%;
  position: relative;
  display: inline-block;

  &.uu5-common-disabled {
    pointer-events: none;
  }
}

.@{name}-youtube-video-s {
  height: 315px;
  width: 560px;
}

.@{name}-youtube-video-m {
  height: 360px;
  width: 640px;
}

.@{name}-youtube-video-l {
  height: 480px;
  width: 853px;
}

.@{name}-youtube-video-xl {
  height: 720px;
  width: 1280px;
}


