@import "../forms-ns.less";
@import "../../tools.less";

/* UU5.Forms.InputMixin */
.@{name}-input {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;

  &.@{name}-input-inline::before {
    // secures a vertical align to baseline when a component doesnt have a label
    content: "\200b";
    align-self: center;
  }

  .@{name}-text-input .@{name}-input-loading-icon {
    right: auto;
    display: inline-block;
    font-size: inherit;
  }
  &.@{name}-checkbox .@{name}-input-loading-icon,
  &.@{name}-radios .@{name}-input-loading-icon,
  &.@{name}-tri-state-checkbox .@{name}-input-loading-icon {
    right: auto;
    display: inline-block;
    font-size: inherit;
    position: relative;
  }
  &.@{name}-tag-select .@{name}-input-loading-icon,
  &.@{name}-select .@{name}-input-loading-icon,
  &.@{name}-slider .@{name}-input-loading-icon {
    display: inline-block;
    font-size: inherit;
    left: auto;
  }

  &.@{name}-input-inline {
    display: inline-flex;
    flex-grow: 1;
    align-items: baseline;

    &.@{name}-input-inline,
    &.@{name}-input-auto-width {
      /* bigger specificity */
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.@{name}-input-inline,
  &.@{name}-input-label-width {
    .@{name}-label {
      padding-left: 0;
    }
  }

  &.@{name}-input-auto-width,
  &.@{name}-input-label-width {
    &:not(.@{name}-slider) .@{name}-text-input,
    &.@{name}-file .@{name}-items-input,
    .@{name}-items-input,
    &.@{name}-checkbox .@{name}-right-wrapper,
    &.@{name}-tri-state-checkbox .@{name}-right-wrapper,
    .@{name}-slider-slider {
      .@{name}-input-s& {
        width: 136px;
      }

      .@{name}-input-m& {
        width: 160px;
      }

      .@{name}-input-l& {
        width: 180px;
      }

      .@{name}-input-xl& {
        width: 200px;
      }
    }
  }

  &.@{name}-input-auto-width {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: baseline;

    &.@{name}-input-inline,
    &.@{name}-input-auto-width {
      /* bigger specificity */
      margin-top: 0;
      margin-bottom: 0;
    }

    .@{name}-input-wrapper-cover,
    .uu5-forms-input-button-wrapper {
      width: auto;
    }

    .@{name}-label {
      width: auto;

      @media screen and (min-width: 481px) {
        & + .@{name}-input-wrapper {
          padding-right: 16px;
        }
      }
    }

    .@{name}-input-wrapper {
      width: auto;
    }
  }

  &.@{name}-input-prevent-wrap {
    flex-wrap: nowrap;

    .@{name}-input-wrapper-cover {
      flex-wrap: nowrap;
    }

    .@{name}-label {
      flex-shrink: 0;
    }
  }
}

.@{name}-input:last-child,
.@{name}-datetimerangepicker:last-child,
.@{name}-daterangepicker:last-child {
  margin-bottom: 24px;
}

.@{name}-input-s {
  min-height: 24px;
  font-size: 12px;
  line-height: 16px;

  .@{name}-label {
    padding: 2px 16px;
  }

  .@{name}-text-input .@{name}-input-loading-icon {
    right: 4px;
    left: auto;
    top: 4px;
    &,
    & > svg {
      width: 16px;
      height: 16px;
    }
  }

  &.@{name}-checkbox .@{name}-input-loading-icon,
  &.@{name}-tri-state-checkbox .@{name}-input-loading-icon,
  &.@{name}-radios .@{name}-input-loading-icon {
    left: 0px;
    top: 1px;
    &,
    & > svg {
      width: 18px;
      height: 18px;
    }
  }

  &.@{name}-checkbox.@{name}-checkbox-type-switch .@{name}-input-loading-icon {
    left: 4px;
    top: 0px;
    &,
    & > svg {
      width: 16px;
      height: 16px;
    }
  }

  &.@{name}-file .@{name}-input-loading-icon,
  &.@{name}-datepicker .@{name}-input-loading-icon,
  &.@{name}-daterangepicker .@{name}-input-loading-icon,
  &.@{name}-datetimerangepicker .@{name}-input-loading-icon,
  &.@{name}-datetimepicker .@{name}-input-loading-icon,
  &.@{name}-timepicker .@{name}-input-loading-icon {
    left: 4px;
    top: 4px;
    &,
    & > svg {
      width: 16px;
      height: 16px;
    }
  }
  &.@{name}-tag-select .@{name}-input-loading-icon,
  &.@{name}-select .@{name}-input-loading-icon,
  &.@{name}-slider .@{name}-input-loading-icon,
  &.@{name}-number .@{name}-input-loading-icon {
    right: 4px;
    top: 4px;
    left: auto;
    &,
    & > svg {
      width: 16px;
      height: 16px;
    }
  }
}

.@{name}-input-m {
  min-height: 32px;
  font-size: 14px;
  line-height: 19px;

  .@{name}-label {
    padding: 6px 16px;
  }

  .@{name}-text-input .@{name}-input-loading-icon {
    right: 7px;
    left: auto;
    top: 7px;
    &,
    & > svg {
      width: 18px;
      height: 18px;
    }
  }

  &.@{name}-checkbox .@{name}-input-loading-icon,
  &.@{name}-radios .@{name}-input-loading-icon,
  &.@{name}-tri-state-checkbox .@{name}-input-loading-icon {
    left: 0px;
    top: 0px;
    &,
    & > svg {
      width: 18px;
      height: 18px;
    }
  }

  &.@{name}-checkbox.@{name}-checkbox-type-switch .@{name}-input-loading-icon {
    left: 9px;
    top: 3px;
    &,
    & > svg {
      width: 18px;
      height: 18px;
    }
  }

  &.@{name}-file .@{name}-input-loading-icon,
  &.@{name}-datepicker .@{name}-input-loading-icon,
  &.@{name}-daterangepicker .@{name}-input-loading-icon,
  &.@{name}-datetimerangepicker .@{name}-input-loading-icon,
  &.@{name}-datetimepicker .@{name}-input-loading-icon,
  &.@{name}-timepicker .@{name}-input-loading-icon {
    left: 7px;
    top: 7px;
    &,
    & > svg {
      width: 18px;
      height: 18px;
    }
  }
  &.@{name}-tag-select .@{name}-input-loading-icon,
  &.@{name}-select .@{name}-input-loading-icon,
  &.@{name}-slider .@{name}-input-loading-icon,
  &.@{name}-number .@{name}-input-loading-icon {
    right: 7px;
    top: 7px;
    left: auto;
    &,
    & > svg {
      width: 18px;
      height: 18px;
    }
  }
}

.@{name}-input-l {
  min-height: 40px;
  font-size: 16px;
  line-height: 21px;

  .@{name}-label {
    padding: 8px 16px;
  }

  .@{name}-text-input .@{name}-input-loading-icon {
    right: 8px;
    left: auto;
    top: 8px;
    &,
    & > svg {
      width: 24px;
      height: 24px;
    }
  }

  &.@{name}-checkbox .@{name}-input-loading-icon,
  &.@{name}-radios .@{name}-input-loading-icon,
  &.@{name}-tri-state-checkbox .@{name}-input-loading-icon {
    left: 0px;
    top: 1px;
    &,
    & > svg {
      width: 24px;
      height: 24px;
    }
  }

  &.@{name}-checkbox.@{name}-checkbox-type-switch .@{name}-input-loading-icon {
    left: 6px;
    top: 0px;
    &,
    & > svg {
      width: 24px;
      height: 24px;
    }
  }

  &.@{name}-file .@{name}-input-loading-icon,
  &.@{name}-datepicker .@{name}-input-loading-icon,
  &.@{name}-daterangepicker .@{name}-input-loading-icon,
  &.@{name}-datetimerangepicker .@{name}-input-loading-icon,
  &.@{name}-datetimepicker .@{name}-input-loading-icon,
  &.@{name}-timepicker .@{name}-input-loading-icon {
    left: 8px;
    top: 8px;
    &,
    & > svg {
      width: 24px;
      height: 24px;
    }
  }

  &.@{name}-tag-select .@{name}-input-loading-icon,
  &.@{name}-select .@{name}-input-loading-icon,
  &.@{name}-slider .@{name}-input-loading-icon,
  &.@{name}-number .@{name}-input-loading-icon {
    right: 8px;
    top: 8px;
    left: auto;
    &,
    & > svg {
      width: 24px;
      height: 24px;
    }
  }
}

.@{name}-input-xl {
  min-height: 48px;
  font-size: 18px;
  line-height: 24px;

  .@{name}-label {
    padding: 10px 16px;
  }

  .@{name}-text-input .@{name}-input-loading-icon {
    right: 11px;
    left: auto;
    top: 11px;
    &,
    & > svg {
      width: 24px;
      height: 24px;
    }
  }

  &.@{name}-checkbox .@{name}-input-loading-icon,
  &.@{name}-radios .@{name}-input-loading-icon,
  &.@{name}-tri-state-checkbox .@{name}-input-loading-icon {
    left: 0px;
    top: 1px;
    &,
    & > svg {
      width: 24px;
      height: 24px;
    }
  }

  &.@{name}-checkbox.@{name}-checkbox-type-switch .@{name}-input-loading-icon {
    left: 11px;
    top: 3px;
    &,
    & > svg {
      width: 26px;
      height: 26px;
    }
  }

  &.@{name}-file .@{name}-input-loading-icon,
  &.@{name}-datepicker .@{name}-input-loading-icon,
  &.@{name}-daterangepicker .@{name}-input-loading-icon,
  &.@{name}-datetimerangepicker .@{name}-input-loading-icon,
  &.@{name}-datetimepicker .@{name}-input-loading-icon,
  &.@{name}-timepicker .@{name}-input-loading-icon {
    left: 11px;
    top: 11px;
    &,
    & > svg {
      width: 26px;
      height: 26px;
    }
  }

  &.@{name}-tag-select .@{name}-input-loading-icon,
  &.@{name}-select .@{name}-input-loading-icon,
  &.@{name}-slider .@{name}-input-loading-icon,
  &.@{name}-number .@{name}-input-loading-icon {
    right: 11px;
    top: 11px;
    left: auto;
    &,
    & > svg {
      width: 26px;
      height: 26px;
    }
  }
}

.@{name}-input-s .@{name}-input-button,
.@{name}-input-m .@{name}-input-button,
.@{name}-input-l .@{name}-input-button,
.@{name}-input-xl .@{name}-input-button {
  font-size: 1em;
}

.@{name}-input-s input[type="text"].@{name}-input-form-item,
.@{name}-input-s input[type="password"].@{name}-input-form-item {
  height: 24px;
  padding: 3px 7px 5px;
}

.@{name}-input-m input[type="text"].@{name}-input-form-item,
.@{name}-input-m input[type="password"].@{name}-input-form-item {
  height: 32px;
  padding: 6px 8px 6px;
}

.@{name}-input-l input[type="text"].@{name}-input-form-item,
.@{name}-input-l input[type="password"].@{name}-input-form-item {
  height: 40px;
  padding: 9px 8px 10px;
}

.@{name}-input-xl input[type="text"].@{name}-input-form-item,
.@{name}-input-xl input[type="password"].@{name}-input-form-item {
  height: 48px;
  padding: 11px 9px 13px;
}

.@{name}-input-form-item {
  display: inline-block;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  background-image: none;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  transition: ~"border-color ease-in-out .15s, box-shadow ease-in-out .15s";

  &.uu5-common-bg-style-underline {
    border-width: 0 0 1px 0;
    border-radius: 0;
  }

  &.uu5-common-bg-style-filled,
  &.uu5-common-bg-style-transparent {
    border-width: 0;
  }
}

.@{name}-input-form-item:focus {
  border-color: #2196f3;
  outline: 0;
}

.@{name}-input-read-only .@{name}-input-form-item,
.@{name}-input-read-only .@{name}-input-form-item:focus {
  background-color: fade(#ffffff, 24%);
  border-color: fade(#bdbdbd, 24%);
  cursor: default;
}

.uu5-common-disabled .@{name}-input-form-item {
  border-color: fade(#bdbdbd, 42%);
  background-color: fade(#f5f5f5, 42%);
  color: rgba(0, 0, 0, 0.24);
}

.@{name}-input-form-item.uu5-common-disabled,
.@{name}-input-form-item.uu5-common-disabled:focus {
  background-color: #eee;
  box-shadow: none;
}

.@{name}-input-loading .@{name}-input-form-item.uu5-common-disabled,
.@{name}-input-loading .@{name}-input-form-item.uu5-common-disabled:focus {
  background-color: transparent;
  box-shadow: none;
}

.@{name}-input-s .@{name}-input-icon .@{name}-input-form-item {
  padding: 3px 0 5px 16px;
}

.@{name}-input-m .@{name}-input-icon .@{name}-input-form-item {
  padding: 6px 0 7px 16px;
}

.@{name}-input-l .@{name}-input-icon .@{name}-input-form-item {
  padding: 9px 0 9px 16px;
}

.@{name}-input-xl .@{name}-input-icon .@{name}-input-form-item {
  padding: 10px 0 13px 16px;
}

.@{name}-input-loading-icon {
  font-size: 0.5em;
  width: 2.45em;
  height: 2.45em;
  border-radius: 50%;
  -webkit-animation: "@{name}-input-load" 1.4s infinite linear;
  animation: "@{name}-input-load" 1.4s infinite linear;
  position: absolute;
  flex: none;
  right: 1.5em;
  top: 1.1em;
}

.@{name}-datepicker,
.@{name}-timepicker,
.@{name}-daterangepicker,
.@{name}-datetimerangepicker {
  .@{name}-text-input .uu5-bricks-icon {
    color: rgba(0, 0, 0, 0.54);
  }
}

.@{name}-datepicker.uu5-common-disabled,
.@{name}-timepicker.uu5-common-disabled {
  .@{name}-text-input .uu5-bricks-icon {
    color: rgba(0, 0, 0, 0.24);
  }
}

.@{name}-input-s.@{name}-datepicker .@{name}-text-input .@{name}-input-form-item,
.@{name}-input-s.@{name}-timepicker .@{name}-text-input .@{name}-input-form-item,
.@{name}-input-s.@{name}-datetimepicker .@{name}-text-input .@{name}-input-form-item,
.@{name}-input-s.@{name}-file .@{name}-input-form-item-value {
  padding-left: 24px;
  padding-right: 7px;
}

.@{name}-input-m.@{name}-datepicker .@{name}-text-input .@{name}-input-form-item,
.@{name}-input-m.@{name}-timepicker .@{name}-text-input .@{name}-input-form-item,
.@{name}-input-m.@{name}-datetimepicker .@{name}-text-input .@{name}-input-form-item,
.@{name}-input-m.@{name}-file .@{name}-input-form-item-value {
  padding-left: 32px;
  padding-right: 8px;
}

.@{name}-input-l.@{name}-datepicker .@{name}-text-input .@{name}-input-form-item,
.@{name}-input-l.@{name}-timepicker .@{name}-text-input .@{name}-input-form-item,
.@{name}-input-l.@{name}-datetimepicker .@{name}-text-input .@{name}-input-form-item,
.@{name}-input-l.@{name}-file .@{name}-input-form-item-value {
  padding-left: 40px;
  padding-right: 8px;
}

.@{name}-input-xl.@{name}-datepicker .@{name}-text-input .@{name}-input-form-item,
.@{name}-input-xl.@{name}-timepicker .@{name}-text-input .@{name}-input-form-item,
.@{name}-input-xl.@{name}-datetimepicker .@{name}-text-input .@{name}-input-form-item,
.@{name}-input-xl.@{name}-file .@{name}-input-form-item-value {
  padding-left: 48px;
  padding-right: 9px;
}

.@{name}-input-s.@{name}-file-no-icon .@{name}-input-form-item-value {
  padding-left: 7px;
}

.@{name}-input-m.@{name}-file-no-icon .@{name}-input-form-item-value {
  padding-left: 8px;
}

.@{name}-input-l.@{name}-file-no-icon .@{name}-input-form-item-value {
  padding-left: 8px;
}

.@{name}-input-xl.@{name}-file-no-icon .@{name}-input-form-item-value {
  padding-left: 9px;
}

.@{name}-input-menu {
  z-index: 1000;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  //left: 0;
  margin-top: 4px;
}

.@{name}-items-input .uu5-bricks-icon,
.@{name}-text-input .uu5-bricks-icon {
  color: rgba(0, 0, 0, 0.54);
}

.@{name}-input:not(.@{name}-checkboxes):not(.@{name}-radios) .input-wrapper {
  border-radius: 2px;
}

.@{name}-input .uu5-bricks-icon {
  height: 100%;
}

.@{name}-input-s .uu5-bricks-icon {
  padding: 4px;
  font-size: 16px;
}

.@{name}-input-m .uu5-bricks-icon {
  padding: 6px;
  font-size: 20px;
}

.@{name}-input-l .uu5-bricks-icon {
  padding: 7px;
  font-size: 26px;
}

.@{name}-input-xl .uu5-bricks-icon {
  padding: 7px;
  font-size: 34px;
}

.@{name}-input .uu5-bricks-button-outline .uu5-bricks-icon {
  padding: 0;
}

.@{name}-input-s .uu5-bricks-button {
  width: 24px;
  height: 24px;
}

.@{name}-input-m .uu5-bricks-button {
  width: 32px;
  height: 32px;
}

.@{name}-input-l .uu5-bricks-button {
  width: 40px;
  height: 40px;
}

.@{name}-input-xl .uu5-bricks-button {
  width: 48px;
  height: 48px;
}

.@{name}-input-button-icon.uu5-bricks-icon {
  position: relative;
}

@media (max-width: 768px) {
  // .@{name}-input {
  //    display: block;

  .@{name}-label {
    padding: 0 0 8px;
    // }
  }

  //.@{name}-input-s .@{name}-label, .@{name}-input-m .@{name}-label, .@{name}-input-l .@{name}-label, .@{name}-input-xl .@{name}-label {
  //  padding-left: 0;
  //}
}

@-webkit-keyframes "@{name}-input-load" {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes "@{name}-input-load" {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
