// COLORS OF SCHEMA
@black-50:  rgba(255, 255, 255, 0.60);
@black-100: rgba(255, 255, 255, 0.40);
@black-500: rgba(255, 255, 255, 0.20);
@black-600: rgba(0, 0, 0, 0.20);
@black-700: rgba(0, 0, 0, 0.40);
@black-800: rgba(0, 0, 0, 0.60);
@black-900: rgb(0, 0, 0);
