// COLORS OF SCHEMA
@deep-purple-50:  #EDE7F6;
@deep-purple-100: #D1C4E9;
@deep-purple-500: #673AB7;
@deep-purple-600: #5E35B1;
@deep-purple-700: #512DA8;
@deep-purple-800: #4527A0;
@deep-purple-900: #311B92;
