// COLORS OF SCHEMA
@deep-orange-50:  #FBE9E7;
@deep-orange-100: #FFCCBC;
@deep-orange-500: #FF5722;
@deep-orange-600: #F4511E;
@deep-orange-700: #E64A19;
@deep-orange-800: #D84315;
@deep-orange-900: #BF360C;
