// COLORS OF SCHEMA
@grey-50: #F5F5F5;
@grey-100: #F5F5F5;
@grey-300: #E0E0E0;
@grey-500: #9E9E9E;
@grey-600: #757575;
@grey-800: #424242;
@grey-900: #212121;
@grey-link: @grey-800;
@grey-link-hover: #000000;
