// COLORS OF SCHEMA
@light-blue-50:  #E1F5FE;
@light-blue-100: #B3E5FC;
@light-blue-500: #03A9F4;
@light-blue-600: #039BE5;
@light-blue-700: #0288D1;
@light-blue-800: #0277BD;
@light-blue-900: #01579B;
