// COLORS OF SCHEMA
@light-green-50:  #F1F8E9;
@light-green-100: #DCEDC8;
@light-green-500: #8BC34A;
@light-green-600: #7CB342;
@light-green-700: #689F38;
@light-green-800: #558B2F;
@light-green-900: #33691E;
