// COLORS OF SCHEMA
@white-50:  rgba(0, 0, 0, 0.40);
@white-100: rgba(0, 0, 0, 0.20);
@white-500: rgba(255, 255, 255, 0.20);
@white-600: rgba(255, 255, 255, 0.40);
@white-700: rgba(255, 255, 255, 0.60);
@white-800: rgba(255, 255, 255, 0.80);
@white-900: rgb(255, 255, 255);
